*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 65.2%;
}
body{
  background-image: linear-gradient(90deg, #36d1dc, #5b86e5) !important;
  background-size: 100%;
}
/* Navbar */
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8rem;
  /* background-color: #ccc; */
}
.nav-links{
  display: flex;
  flex-direction: row;
  gap: 5rem;
  font-size: 1.6rem;
}
.nav-links > .btn{
  color: #fff !important;
  padding: 2rem !important;
}
.nav-links li {
  list-style: none;
}
.nav-links a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  /* padding: 1rem; */
}
.nav-links a:hover{
  /* color: darkgreen; */
  transition: 2s ease all;
}
.logo{
  width: 50px;
  height: 30px;
}

/* ErrorBoundary */
.error{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  color: darkred;
  font-weight: bold;
}

/* general */
.home{
  text-align: center;
  margin-top: 5rem;
  font-size: 2rem;
}

/* 404 Page*/
.notFound{
  text-align: center;
  margin-top: 6rem;
  transition: 2s ease all !important;
}
.notFound > img{
  border-radius: 2rem;
}
.notFound > .btn{
  background-color: rgb(20, 36, 107);
  padding: 1rem 2rem;
  color: #fff;
  margin-top: 5rem;
  border-radius: 2rem;
  width: 30%;
  margin-bottom: 3rem;

}
.notFound > .btn:hover{
  background-color: rgb(29, 77, 133);
  transition: 2s ease all;
}

/* Sign Up */
.signup{
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  position: relative;
}
.card-body{
  display: flex;
  justify-content: center;
  align-items: center;
 /* background-color: #ccc; */
 padding: 0 15rem;
 margin: auto !important;
 width: 50%;
 border-radius: 1rem;
 margin-top: 2rem;
 margin-left: 40rem;
}
.sgimg{
  background-color: #1f3257;
  margin-left: -7rem;
  border-radius: 1rem 0 0 1rem;
  display: none;
}
form{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding:  5rem 2rem 5rem 5rem !important;
  text-align: left;
  /* white-space: nowrap; */
  line-height: 3rem;
  margin: auto !important;
  border-radius: 1rem;
  width: 80% !important;
}
.form-group > .form-control {
  width: 90%;
  border-radius: 0.6rem;
  height: 5rem;
  padding: 1rem;
  font-size: 1.3rem !important;
  cursor: pointer;
}
Form > .input:hover{
  background-color: #ccc;
  transition: 2s ease all;
}
Form > .input:focus{
  background-color: antiquewhite;
}
Form > Button{
  border-radius: 0.6rem;
  height: 5rem;
  width: 90%;
  margin-top: 3rem;
  background-color: #5b86e5;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem !important;
}
.form > Button:hover{
  transition: 1.9s ease all;
  background-color: #375baa;
}
.form-check{
  display: flex !important;
  justify-content: flex-start;
  align-items: center !important;
}
.form-check-input{
  margin-right: 1rem;
  font-size: 1.2rem;
}
.form-check-label{
  color: rgb(116, 114, 114);
  font-size: 1.2rem;
  margin-bottom: -0.4rem;
}
.body > .btn{
  font-size: 1.5rem !important;
  width: 100%;
  padding: 1rem 2rem;
  margin: auto;
  text-align: center;
  /* font-weight: bold; */
  flex-direction: row;
  display: flex;
  white-space: nowrap;

}
label{
  font-size: small;
  font-weight: 600;
}
.form-group > h3{
  color: rgba(21, 21, 32, 0.333);
  margin: 1rem 0;
}
.form-group h3 a{
  text-decoration: none;
  color: #5b86e5;
  margin-left: 0.4rem;
}

.card{
  width: 30%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  position: relative;
  top: 5rem;
  padding: 8rem;
}

.card > .card-body{
  flex-direction: column !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
  position: absolute;
  top: 8rem;
  left: 11rem;
} 

p{
  font-size: 1.5rem;
  color: darkred;
  font-weight: bold;
  /* background-color: darkred; */
  padding: 0.5rem;
  /* text-align: center; */
}
.logged{
  display: flex;
  white-space: nowrap;
  gap: 1rem;
  padding: 0.5rem;
  flex-wrap: wrap;
  text-align: center;
}
.logged > .btn{
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
}

/* Home */
.home{
  margin: auto;
}
home > .container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: auto;
  margin-top: 5rem;
  /* width: 100% !important; */
  background-color: #fff;
}
.todolist > form > h1{
  font-size: 2.5rem;
  font-weight: bold;
  color: #5b86e5;
  margin-bottom: 3.5rem;
}
.todolist > form > h3{
  display: flex;
  justify-content: space-between !important;
  font-size: 1.5rem;
  font-weight: bold;
  color: #5b86e5;
  margin-bottom: 3.5rem;
}
.todolist > form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 5rem 5rem 5rem !important;
  text-align: left;
  /* white-space: nowrap; */
  line-height: 3rem;
  margin: auto !important;
  margin-top: 4rem !important;
  border-radius: 1rem;
  width: 45% !important;
  /* background-color: antiquewhite; */
}
form > button{
  border-radius: 0.6rem;
  height: 5rem;
  width: 100%;
  margin-top: 2rem;
  background-color: #5b86e5;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem !important;
}
.input{
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  margin-bottom: 4rem;
  text-align: left;
}
.saveList{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 5rem;
  width: 100% !important;
  background-color: #1f3257;
  color: #fff;
}
.List{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: auto;
  padding: 1.5rem;
  width: 100% !important;
  background-color: #1f3257;
  color: #fff;
}

/* Media Query */

 @media (max-width: 575.98px) { 
  /* Home */
  .container{
    width: 90% !important;
  }
  aside{
    text-align: center;
    line-height: 1rem !important;
    margin: auto;
  }
  aside > h1{
    text-align: center;
    font-size: 2.9rem;
  }
  .bttn{
    display: flex;
    justify-content: center;
    gap: 1rem !important;
    /* flex-wrap: nowrap; */
  }
  .article{
    display: none;
  }
  .todolist > form{
    width: 80% !important;
    padding: 4rem 2rem !important;
    text-align: left !important;
    margin: auto !important;
    margin-top: 8rem !important;
  }

  /* login */
  .card-body{
    position: relative;
  }
  form{
    width: 150% !important;
    padding: 4rem 2rem !important;
    text-align: left !important;
    margin: auto -7rem !important;
    position: absolute;
    top: 3rem;
  }
  .form-group > .form-control{
    width: 100% !important;
  }
  Form > Button{
    width: 100%;
  }
  .card{
    width: 50% !important;
    padding: 10rem 13rem;
  }
 }

